{% extends "base.html" %}

{% block content %}

<main class="bg-image add-review-image responsive-img">
<div class="row no-margin">
        <form class="col s10 push-s1 register m8 offset-m2" method="POST" action="{{ url_for('add_review') }}">
            <div class="row">
                 <div class="input-field col s12">
                    <input  id="title" name="title" type="text" class="validate" required>
                    <label  for="title">Title</label>
                </div>
            </div>
    <div class="row">
        <div class="input-field col s12">
            <input  id="author" name="author" type="text" class="validate" required>
            <label  for="author">Author</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="genre" name="genre" type="text" class="validate" required>
            <label for="genre">Genre</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="published" name="published" type="text" class="validate" required>
            <label for="published">Published</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s12">
            <input id="cover" name="cover" type="url" class="validate">
            <label for="cover">Link to Cover Image</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s12">
            <input id="buy" name="buy" type="url" class="validate">
            <label for="buy">Buy</label>
        </div>
    </div>
    
    <div class="row">
         <ul class="collapsible">
            <li>
                <div class="collapsible-header">Synopsis <i class="fas fa-angle-down"></i></div>
                <div class="collapsible-body">
                    <textarea id="synopsis" name="synopsis" type="text" class="materialize-textarea validate" required></textarea>
                    <label for="synopsis" class="hide">Synopsis</label>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Review <i class="fas fa-angle-down"></i></div>
                <div class="collapsible-body">
                    <textarea id="review" name="review" type="text"  class="materialize-textarea validate" required></textarea>
                    <label for="review" class="hide">Review</label>
                </div>
            </li>
        </ul>    
    </div>

<div class="row">
    <div class="rating col s6 push-s2 m6 push-m1">
            <input id="star5" name="star" type="radio" value="&#11088; &#11088; &#11088; &#11088; &#11088;" class="radio-btn hide" />
            <label for="star5"><i class="fas fa-star"></i></label>
            <input id="star4" name="star" type="radio" value="&#11088; &#11088; &#11088; &#11088;" class="radio-btn hide" />
            <label for="star4"><i class="fas fa-star"></i></label>
            <input id="star3" name="star" type="radio" value="&#11088; &#11088; &#11088;" class="radio-btn hide" />
            <label for="star3"><i class="fas fa-star"></i></label>
            <input id="star2" name="star" type="radio" value="&#11088; &#11088;" class="radio-btn hide" />
            <label for="star2"><i class="fas fa-star"></i></label>
            <input id="star1" name="star" type="radio" value="&#11088;" class="radio-btn hide" />
            <label for="star1"><i class="fas fa-star"></i></label>
            
        </div>
</div>


    <div class="row">
         <button type="submit" class="col s6 offset-s3 m4 offset-m4 btn-small add-review-btn">
                    Add Review
                </button>
    </div>            
        </form>
    </div>
</main>
{% endblock %}