{% extends "base.html" %}



{% block content %}

<main class="bg-image home-image responsive-img">
  


<section>
 <div class="row no-margin">
  <!--  <div class="col s12 m4 offset-m4">
        <h2 class="profile-heading"> Welcome [User] </h2>
    </div> -->
    <div class= "col m4 offset-m8 search-container hide-on-small-only">
   <form class="search-bar">
        <input type="text" name="search" id="search" placeholder="Enter Author, Title or Genre...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    </div>
 </div>
</section>       

<section>
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 card-container">
            <div class="card z-depth-5">
                <div class="card-content">
                    <span class="card-title">Welcome to Fantasitc Books and Where to Find Them</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                     I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
    </div>
</section>    

</main>

{% endblock %}