{% extends "base.html" %}

{% block content %}

<main>
 <div class="bg-image login-image responsive-img">    </div>    

 <h3 class="center-align register-heading"> Log In </h3>

<div class="row">
<form class="col s12 m8 offset-m2 register" method="POST" action="{{ url_for('login') }}">
<div class="row">
        <div class="input-field col s12">
          <input  id="username" name="username" type="text" class="validate" required>
          <label for="username">Username</label>
        </div>
      </div>
 <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
        <div class="row">
                    <button type="submit" class="col s12 m8 offset-m2">
                        Log In
                    </button>
                </div>
                 <div class="row">
                    <div class="col s12 m8 offset-m2">
            <p class="center-align">
                Not Registered?
                <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register</a>
            </p>
        </div>
    </div>
</form>
</div>
</main>
{% endblock %}