{% extends "base.html" %}

{% block content %}

<main class="bg-image profile-image responsive-img">



<section>
 <!--  <div class="row">
    <div class= "col m4 search-container hide-on-small-only right">
   <form class="search-bar">
        <input type="text" name="search" id="search" placeholder="Enter Author, Title or Genre...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    </div>
 </div>-->
<div class="row no-margin search-container reviews-page">
  <form action="{{ url_for('search') }}" method="post" class="search-bar">

    <div class="input-field col m4 offset-m8 hide-on-small-only">
        <input type="text" name="search" id="search" minlength="3" required placeholder="Search title, author, genre..">
        <label for="search" class="hide"></label>
        <button type="submit"><i class="fas fa-search"></i></button>
       
    </div>
    <div class="col m4 offset-m8 center-align">
         <a href="{{ url_for('reviews') }}" class="clear hide-on-small-only">Clear Search Results</a>
    </div>
    </form>
</div>
</section>       

<section>
<!-- Tab Buttons-->
<div class="tab-container">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'books')">My Saved Books</button>
                <button class="tablinks" onclick="openTab(event, 'reviews')">My Reviews</button>
                <button class="tablinks" onclick="openTab(event, 'add-review')">Add Review</button>
                <button class="tablinks" onclick="openTab(event, 'delete')">Delete Profile</button>
            </div>
        </div>
    </div>

<!-- Tab Content -->
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div id="books" class="tabcontent">
                
            {% if user["favourites"]|length > 0 %}
                <ul>
                {% for favourite in user["favourites"] %}
                    <li>
                          <form method="POST" action="">   
                                <div class="broken-heart-checkbox">
                                    <input type="checkbox" id="remove{{loop.index}}" name="remove{{loop.index}}" onchange="this.form.submit()"/>
                                    <label for="remove{{loop.index}}">
                                        Remove Review
                                    </label>
                                </div>
                                </form>      
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                     <h3>You have no books saved </h3>
                    <a href="{{ url_for('reviews') }}" class="btn btn-small center-align">
                        Find Books! </a>
            {% endif %}
            </div>
        </div>
    </div>

 
    <div class="row">
        <div class="col s12 m10 offset-m1">   
            
            <div id="reviews" class="tabcontent">
             {% if reviews|length > 0 %}
               <ul class="profile-reviews">  
                   {% for review in reviews %}
                   <li>
                
                        <div class="row">
                            <div class="col s12 m4 responsive-img">
                                <img  src="{{ review.cover }}" class="book-cover" >
                            </div>    
                            <div class="col s12 m8">
                                <p class="book-info"> <strong>{{ review.title }}</strong>
                                <br> {{ review.author }} 
                                <br> Genre: {{ review.genre }} 
                                <br>Published: {{ review.published }}
                                </p>

                                <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">Synopsis <i class="fas fa-angle-down"></i></div>
                                <div class="collapsible-body"> {{ review.synopsis}}</div>
                            </li>
                            <li>
                                <div class="collapsible-header">Review <i class="fas fa-angle-down"></i></div>
                                <div class="collapsible-body"> {{ review.review }}</div>
                            </li>

                            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn-small">Delete</a>
                            <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small">Edit</a>
                        </ul>
                        {% endfor %}
                            </div>
                        </div>
                       
                   </li>
               </ul>
                {% else %}

          <h3>You have no reviews </h3>
           <a href="{{ url_for('add_review') }}" type="submit" class="btn center-align">
            Add Review </a> 
            {% endif %}
         </div> 
          
   
        </div> 
    </div>
        
          
    
    
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div id="add-review" class="tabcontent">
               <!-- <h4 class="center-align tab-heading">Add Review</h4>-->
    <div class="row no-margin">
        <form class="col s12 register" method="POST" action="{{ url_for('add_review') }}">
            <div class="row">
                 <div class="input-field col s12">
                    <input  id="title" name="title" type="text" class="validate" required>
                    <label  for="title">Title</label>
                </div>
            </div>
    <div class="row">
        <div class="input-field col s12">
            <input  id="author" name="author" type="text" class="validate" required>
            <label  for="author">Author</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="genre" name="genre" type="text" class="validate" required>
            <label for="genre">Genre</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="published" name="published" type="text" class="validate" required>
            <label for="published">Published</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s12">
            <input id="cover" name="cover" type="url" class="validate" required>
            <label for="cover">Link to Cover Image</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s12">
            <input id="buy" name="buy" type="url" class="validate" required>
            <label for="buy">Buy</label>
        </div>
    </div>
    <div class="row">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Synopsis <i class="fas fa-angle-down"></i></div>
                <div class="collapsible-body">
                    <textarea id="synopsis" name="synopsis" type="text" class="materialize-textarea validate" required></textarea>
                    <label for="synopsis">Synopsis</label>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Review <i class="fas fa-angle-down"></i></div>
                <div class="collapsible-body">
                    <textarea id="review" name="review" type="text"  class="materialize-textarea validate" required></textarea>
                    <label for="review">Review</label>
                </div>
            </li>
        </ul>    
    </div>
    <div class="row">
        <button type="submit" class="col s12 m8 offset-m2">
            Add Review
        </button>
    </div>            
        </form>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div id="delete" class="tabcontent">
                <h3 class="center-align tab-heading">Delete Profile</h3>
                <a href="{{ url_for('delete_profile', user_id=user._id) }}" class="btn-small">Delete Profile</a>
            </div>
        </div>
    </div>

</div>

</section>

</main>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/profile_script.js') }}"></script>
{% endblock %}