{% extends "base.html" %}


  
{% block content %}


<main class="reviews-image responsive-img bg-image">

    
  
 <div class="row no-margin reviews-page">
    <div class= "col m4 offset-m8 search-container hide-on-small-only">
   <form class="search-bar">
        <input type="text" name="search" id="search" placeholder="Enter Author, Title or Genre...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    </div>
 </div>


<section>
{% if reviews|length > 0 %}
<div class="review-container">
    <ul>
        {% for review in reviews %}
        <li>
            <div class="reviews">
              
              <div class="row">
                        <div class="col s12 m4 responsive-img cover-img">
                            <img  src="{{ review.cover }}" class="book-cover" >
                       </div>    
            <div class="col s12 m8">
               <p class="book-info"> <strong>{{ review.title }}</strong>
                <br> {{ review.author }} <br>
                Genre: {{ review.genre }} <br>
                Published: {{ review.published }} <br>
                </p>
                </div>

                <div class="row">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">Synopsis</div>
                            <div class="collapsible-body"> {{ review.synopsis}}</div>
                        </li>
                        <li>
                            <div class="collapsible-header">Review</div>
                            <div class="collapsible-body"> {{ review.review }}</div>
                        </li>
                    </ul>
                    {% if session.user|lower == review.created_by|lower %}
                    <div class="review-btn-container">
                        <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn-small">Delete</a>
                        <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small">Edit</a>
                    </div>
                        {% endif %} 
                    </div>  
                    </div>
                </div>

       </li>
       {% endfor %}
    </ul>
</div>

{% endif %}
 </section>
  


</main>


{% endblock %}