{% extends "base.html" %}


  
{% block content %}


<main class="reviews-image responsive-img bg-image">
<!--
    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col s12 m4 offset-m8 ">
          <div class="row valign-wrapper">  
                <div class=" col m6 input-field search-container">
                    <input type="text" name="search" id="search" minlength="3" class="validate search-bar right" required>
                    <label for="search">Search Reviews</label>
                 </div>
                  <div class="col m6 search-btn-container">
                 <button type="submit" class="btn-small left ">
                        <i class="fas fa-search"></i> 
                          </button>
                        <a href="{{ url_for('reviews') }}" class="btn-small left"><i class="fas fa-ban"></i></a>
                 </div>
           </div> 
        </form>
    </div>  -->
  
 <div class="row no-margin search-container reviews-page">
  <form action="{{ url_for('search') }}" method="post" class="search-bar">

    <div class="input-field col m4 offset-m8 hide-on-small-only">
        <input type="text" name="search" id="search" minlength="3" required placeholder="Search title, author, genre..">
        <label for="search" class="hide"></label>
        <button type="submit"><i class="fas fa-search"></i></button>
       
    </div>
    <div class="col m4 offset-m8 center-align">
         <a href="{{ url_for('reviews') }}" class="clear hide-on-small-only">Clear Search Results</a>
          </div>
    </form>
</div>


<section>
{% if reviews|length > 0 %}
<div class="review-container">
    <ul>
        {% for review in reviews %}
        <li>
            <div class="reviews">
              
              <div class="row">
                        <div class="col s12 m4 responsive-img cover-img">
                            <img  src="{{ review.cover }}" class="book-cover" >
                            <small><em>Created by: {{ review.created_by }}</em><br> {{ review.created }}</small>
                       </div>    
            <div class="col s12 m8">
               <p class="book-info"> <strong>{{ review.title }}</strong>
                
                
                <br> {{ review.author }} <br>
                Genre: {{ review.genre }} <br>
                Published: {{ review.published }} 
               
           <!--    <div>
  <input type="checkbox" id="heart" checked/>
    <label for="heart">
        Check me!
    </label>
</div> -->
                 <br>
                </p>
                </div>

                <div class="row">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">Synopsis</div>
                            <div class="collapsible-body"> {{ review.synopsis}}</div>
                        </li>
                        <li>
                            <div class="collapsible-header">Review</div>
                            <div class="collapsible-body"> {{ review.review }}</div>
                        </li>
                    </ul>
                    {% if session.user|lower == review.created_by|lower %}
                    <div class="review-btn-container">
                        <button type="submit" class="btn-small"><i class="fas fa-heart"></i>Save</button>
                        <a href="{{ review.buy }}" class="btn-small">Buy</a>
                    </div>



                  <!-- <div class="review-btn-container">
                        <button data-target="confirm_delete" class="btn modal-trigger">Delete</button>
                        <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small">Edit</a>
                    </div>
                    <div id="confirm_delete" class="modal">
    <div class="modal-content">
      <h4>Confirm Delete</h4>
      <p>Are you sure you want to delete this review?</p>
    </div>
    <div class="modal-footer">
      <button href="#!" class="modal-close btn-small">Cancel</button>
      <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn-small">Delete</a>
    </div>
  </div>--> 
  
                        {% endif %} 
                    </div>  
                    </div>
                </div>

       </li>
       {% endfor %}
    </ul>
</div>

{% endif %}
 </section>

</main>



{% endblock %}