{% extends "base.html" %}

{% block content %}


<main>
    
        <div class="bg-image reviews-image responsive-img"> </div>

<section>
 <div class="row no-margin">
  <!--  <div class="col s12 m4 offset-m4">
        <h2 class="profile-heading"> Welcome [User] </h2>
    </div> -->
    <div class= "col m4 offset-m8 search-container hide-on-small-only">
   <form class="search-bar">
        <input type="text" name="search" id="search" placeholder="Enter Author, Title or Genre...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    </div>
 </div>
</section>  

{% if reviews|length > 0 %}
<section>
    <ul>
        {% for review in reviews %}
        <li>
            <div class="card horizontal reviews">
              <div class="row">
                        <div class="col s12">
                            <img  src="{{ review.cover }}" class="book-cover" >
                       </div> 
                 </div>
            <div class="col s12 card-stacked">
               <p class="book-info"> <strong>{{ review.title }}</strong>
                <br> {{ review.author }} <br>
                Genre: {{ review.genre }} <br>
                Published: {{ review.published }} <br>
                </p>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">Summary</div>
                            <div class="collapsible-body"> {{ review.summary}}</div>
                        </li>
                        <li>
                            <div class="collapsible-header">Review</div>
                            <div class="collapsible-body"> {{ review.review }}</div>
                        </li>
                    </ul>
                        <a href="" class="btn-small">Delete</a>
                        <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small">Edit</a> 
                    </div>
                </div>
        
       </li>
    </ul>
</section>
{% endfor %}
{% endif %}
</main>
{% endblock %}