{% extends "base.html" %}

{% block content %}
<main>
        <div class="bg-image search-image responsive-img"> 
            </div>
  

 <div class="row">
    <div class="col s12 align-center">
      <div class="card z-depth-5">
        <div class="card-content">
        <h5>Come with me and you'll be in a a world of pure imagination...</h5>
          <p> Find your next adventure!</p>
        </div> 

    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row">
            <div class="input-field search col s12">
                 <i class="fas fa-search prefix"></i>
                 <input type="text" name="query" id="query" class="validate" required>
                 <label for="query">Enter Author, Title, Genre</label>
            </div>  
        </div>
          <div><a class="waves-effect waves-light btn"><i class="fas fa-search left"></i>Search</a></div>
    </form>

   </div>
  </div>  
</div> 

</main>
{% endblock %}