{% extends "base.html" %}

{% block content %}
<main class="bg-image search-image responsive-img">
        
  
<div class="mobile-search-container center-align">
    <div class="row">
        <div class="col s12">
            <div class="mobile-search">
       
            <h4 class="search-heading">Come with me and you'll be in a world of pure imagination...</h4>
                <p class="search-text">Not sure what to read next?? Browse the reviews left 
                    by our community and see what tickles your fancy!
                <br> Your next adventure awaits!</p>
            

                <form action="{{ url_for('searchM') }}" method="post">
                    <div class="row">
                        <div class="input-field search col s12">
                            <i class="fas fa-search prefix"></i>
                            <input type="text" name="searchM" id="searchM" class="validate" required>
                            <label for="searchM">Enter Author, Title, Genre</label>
                            <button type="submit" class="btn-small search-btn"><i class="fas fa-search left"></i>Search</button>
                        </div>  
                    </div>
                </form>
            </div>
        </div>  
    </div> 
</div>

</main>
{% endblock %}